:root {
    --backg: white;
    --main-color: black ;
    --font-size: 16px;
    --f-w: 300;
    --m-i-back: #eaeaea;
}

.night {
    --backg: black ;
    --main-color: white ;
    --font-size: 20px;
    --f-w: 300;
    --m-i-back: black;
}

.spring {
    --backg: green;
    --main-color: yellow;
    --font-size: 20px;
    --f-w: 300;
    --m-i-back: black;
}

.contrast {
    --backg: black;
    --main-color: green;
    --font-size: 20px;
    --f-w: 600;
    --m-i-back: black;
}

body {
    background-color: var(--backg);
    color: var(--main-color);
    font-size: var(--font-size);
    font-weight: var(--f-w);
}


.main-info {
    padding: 20px;
}

.main-image {
    max-width: 300px;
    float: left;
    margin: 0 20px 20px 0;
}

.group-image {
    max-width: 300px;
}

.nav-link.dropdown-toggle {
    cursor: pointer;
}

.main {
    display: block;
}

.group-item {
    display: flex;
}

.group-item .row {
    flex-direction: row;
    flex: 0 0 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    margin: 0;
}

.group-item .content-link {
    align-items: center;
    color: black;
    transition: all 0.3s ease;
}

.group-item .image {
    margin-right: 20px;
    margin-left: 20px;
    max-height: 200px;
    overflow: hidden;
}
.group-item:nth-child(even) .row {
    flex-direction: row-reverse;
    background: var(--m-i-back);
}

.group-item .group-image {
    transition: transform .3s;
}

.group-item:hover .group-image {
    filter: contrast(1.2);
    transform: scale(1.05);
}


/*image gallery*/
.image-radio {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
    outline: 0;
}

.image-radio img {
    max-width: 300px;
}

.image-radio input[type="radio"] {
	display: none;
}

.image-radio-checked {
	border-color: #4783B0;
}

form {
    margin-left: 20px;
}

.back-section > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.theme-radio {
    display: block;
    margin: 10px;
}

section.related {
    display: block;
}

section.related a,
section.related span {
    display: block;
}

section.related span {
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: 600;
}

a.back {
    display: inline-block;
    margin-bottom: 20px;
}